@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply font-sans font-medium transition-colors bg-gray-200 border border-transparent rounded-lg active:bg-gray-300 hover:border-gray-400;
  }
  body {
    @apply font-sans text-black bg-gray-100;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
